<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Manager</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="bg-gray-100 text-gray-900">

        <!-- Navbar -->
        <nav class="bg-blue-800 text-white py-6 px-8 flex align-center justify-between">
                <h1 class="text-3xl font-bold"><a href="{% url 'tasks:index' %}">Task Manager</a></h1>
                <div class="space-x-1">
                    <a href="{% url 'tasks:about' %}" class="px-4 py-2 text-white text-xl">About</a>
                    <a href="#" class="px-4 py-2 bg-blue-500 hover:bg-blue-700 rounded">New Task</a>
                    <a href="#" class="px-4 py-2 bg-red-500 hover:bg-red-700 rounded">Logout</a>
                
                    <a href="#" class="px-4 py-2 bg-green-500 hover:bg-green-700 rounded">Login</a>
                    <a href="#" class="px-4 py-2 bg-yellow-500 hover:bg-yellow-700 rounded">Sign Up</a>
                </div>
        </nav>

        <!-- Main Content -->
        <main class="py-6 px-8">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="text-center mt-6 py-4 bg-blue-200">
            <p>&copy; 2025 Task Manager. All rights reserved.</p>
        </footer>

    </body>
</html>