{% extends 'tasks/base.html' %}

{% block content %}

    <div class="text-center flex flex-col items-center">
        <h1 class="text-5xl px-20 py-6">Sign Up</h1>

        <div class="w-120 py-4 mt-3 bg-gray-700 rounded-lg shadow-md text-white flex flex-col items-center justify-center">
            <form action="." method="POST" class="w-3/4">
                {% csrf_token %}
                <div>
                    <label>Name:</label><br>
                    <input type="text" class="w-full py-2 px-6 bg-slate-500 mt-2" name="name" required><br><br>
                </div>
                <div>
                    <label>Email:</label><br>
                    <input type="email" class="w-full py-2 px-6 bg-slate-500 mt-2" name="email" required><br><br>
                </div>
                <div>
                    <label>Password:</label><br>
                    <input type="password" class="w-full py-2 px-6 bg-slate-500 mt-2" name="password1" required><br><br>
                </div>
                <div>
                    <label>Repeat Password:</label><br>
                    <input type="password" class="w-full py-2 px-6 bg-slate-500 mt-2" name="password2" required><br><br>
                </div>

                <div>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                </div>
            </form>
        </div>
    </div>

<p class="mt-4 text-center">Already have an account? <a class="text-blue-500 hover:underline hover:text-blue-800" href="#">Sign In</a></p>


{% endblock %}