{% extends 'tasks/base.html' %}

{% block content %}

        <div class="space-y-3 bg-white p-6 my-4 shadow-md rounded-lg border border-gray-200">
                <h2 class="text-xl font-semibold text-gray-800">{{ task.title }}</h2>
                <p class="text-gray-600 mt-2">{{ task.description }}</p>
                <p class="text-gray-500 text-sm mt-1">Due Date:  <span class="font-medium">{{ task.due_date }}</span></p>
                <p class="text-gray-500 text-sm">Priority: 
                        <span class="px-2 py-1 rounded 
                                {% if task.priority == 'High' %} bg-red-500 text-white
                                {% elif task.priority == 'Medium' %} bg-yellow-500 text-white
                                {% else %} bg-green-500 text-white {% endif %}">
                                {{ task.priority }}
                        </span>
                </p>
                <p class="text-gray-500 text-sm">Status: 
                        <span class="px-2 py-1 rounded {% if task.status == 'Completed' %} bg-green-500 text-white {% else %} bg-gray-400 text-white {% endif %}">
                                {{ task.status }}
                        </span>
                </p>

                <div class="space-x-1 flex justify-end mt-2">
                <a href="{% url 'tasks:task' task.pk %}" class="px-4 py-2 bg-blue-500 hover:bg-blue-700 rounded text-white">View</a>
                <a href="{% url 'tasks:edit_task' task.pk %}" class="px-4 py-2 bg-yellow-500 hover:bg-yellow-700 rounded text-white">Edit</a>
                <a href="#" class="px-4 py-2 bg-red-500 hover:bg-red-700 rounded text-white">Delete</a>
                </div>
        </div>

{% endblock %}